<%= link_to '投稿', new_attraction_path %>
<%= link_to '検索・並び替え', 'attractions#search' %>

<% @attractions.each do |item| %>
<p>
    <%= item.name %>
    <%= link_to '閲覧', attraction_path(item.id) %>
</p>
<% end %>
