#header{
    height: 70px;
}

.headerText{
   padding-top: 34px;
}

#content{
    width: 980px;
    margin: 0 auto;
}

#IndexPage{
    width: 700px;                /*要修正*/
    margin: 0 auto;
}

.index_content{
    
    border: 3px solid #000000;
}

.left{
    text-align: left;
    float: left;
    margin-top: 0px;
}

.right {
   text-align: right; 
}

#photos {
    display: flex;
    overflow-x:scroll;
}

#photos img{
    width: auto;
    height: 400px;
    margin: 0 30px;
    border: 3px solid #000000;
}


#photo_edit img{
    width: auto;
    height: 250px;
    border: 3px solid #000000;
}

.icon{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#icon_profile{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.index_photo{
    width: auto;
    height: 300px;
    text-align : center
}

