/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#photos {
    display: flex;
    overflow-x:scroll;
}

#photos img{
    width: auto;
    height: 400px;
    margin: 0 30px;
    border: 3px solid #000000;
}


#photo_edit img{
    width: auto;
    height: 250px;
    border: 3px solid #000000;
}

.icon{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#icon_profile{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.index_photo{
    width: auto;
    height: 300px;
    
}

.index_content{
    width: 800px;                /*要修正*/
    border: 3px solid #000000;
}